body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f7f7f7;
    text-align: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    margin-bottom: 20px;
}

textarea {
    font-family: 'Arial', sans-serif;
}

input,
textarea,
button {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 80%;
    max-width: 300px;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.checkbox-container {
    margin: 0 0 20px 0;
}

.checkbox-label {
    font-size: 16px;
    user-select: none;
    margin: auto;
    width: 50%;
}

.checkbox-label+.checkbox-label {
    margin-left: 10px;
}

.checkbox {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    vertical-align: middle;
}

.inputBox {
    max-width: 500px;
    min-width: 500px;
    height: 100px;
    min-height: 15px;
}

.outputBox {
    min-width: 300px;
    min-height: 15px;
    height: 50px;
}

.tooltip {
    position: relative;
    display: inline-block;
    width: 200px;
    vertical-align: top;
}

.tooltip .tooltiptext {
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    opacity: 0;
    margin-left: -60px;
    transition: opacity 0.3s;
}

#randomOptions {
    margin: -20px 0 20px 0;
}

.randomOptions input[type='number'] {
    width: 50px;
    margin: 0 5px;
}

#regenerateButton {
    margin-left: 10px;
    width: 130px;
    vertical-align: top;
}

@media (max-width: 600px) {

    input,
    button,
    label {
        width: 95%;
    }
}